div{
    /* background: url(../../assets/Images/photo0.jpg) no-repeat; */
    background-color: #000;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
