div{
    background: url(../../assets/Images/photo2.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
