<span>
    <button (click) = "getImagesFromAPI()"> Show Images</button>
</span>

<div class="col-lg-3 col-md-6 col-sm-6 col">
    <div class="card">
    </div>
    <div class="container">
        <li *ngFor="let image of images">
            <div>
                <li> {{image.albumId}}</li>
                <li> {{image.id}}</li>
                <li> {{image.title}}</li>
                <div>
                    <li> <img src="{{image.thumbnailUrl}}" alt=""></li>
                </div>
                
            </div>
        </li>        
    </div>
</div>
